.selectorWrapper {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
}


.selector {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 5px;
    border: 1px solid black;
    /*background-color: red;*/
    cursor:pointer;
    width: 130px;

}

.selector:active {
    background-color: #e0dddd;
}

.selector h3 {
    margin: 10px 10px 10px 5px;
}

.selectorTitle {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 10px 0 10px 0;
}

.selectorOptionWrapper {
    width: 100%;
    /*box-shadow: 10px 0px 24px -15px rgba(0,0,0,0.64);*/
}

.selectorOption {
    padding: 5px;
    /*background-color: grey;*/
    align-self: flex-start;
}

.selected {
    background-color: #1ea7fd;
}

.hovered {
    background-color: #1ea7fd;
}